@charset "utf -8";

form {
    width: 500px;
    margin: auto;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

input:hover {
    background-color: white;
}

input {
    border-radius: 20px;
    border-style: solid;
    border-color: #01ab8e;
    background-color: white;
}

select {
    border-radius: 20px;
    background-color: white;
    border-color: #01ab8e;
    border-width: 2px;
}

input.botao {
    background-color: #01ab8e;
    color:#fff;
}
legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset{
    border-color: #cecece;
    margin: 20px;
    
}

label {
    margin-bottom: 0px;
}

h3 {
    color: black;
}


